.wrapper {
  max-inline-size: 1248px;
  margin: 0 auto;
  padding-inline-start: 96px;
  padding-inline-end: 96px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    padding-inline-start: 40px;
    padding-inline-end: 40px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding-inline-start: 18px;
    padding-inline-end: 18px;
  }
}
